html, body {
    margin: 0;
    padding: 0;
}

body {
    --color-base: #efefef;
    --color-table-alt: #e0e0e0;
    --color-light: #a9a9a9;
    --color-dark: #363636;
    --color-highlight: yellowgreen;

    --font-light: 'Montserrat', sans-serif;
    --font-heavy: 'Source Sans Pro', sans-serif;
}

/* Responsive media queries */
@media (max-width: 4000px) {
    body {
        --article-width: 700px;
    }
}